$fontUrbanist: "Urbanist", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$font-body: "Plus Jakarta Sans";

$fontLight: 300;
$fontRegular: 400;
$fontMid: 500;
$fontSemi: 600;
$fontBold: 700;
$transition: 0.3s linear;

// colors

$clrPrimary: #3c4043;
$clrSecondary: #ffe1e1;
$default-bg: #ffffff;
$chart-bg: #faebd7;
