$fontUrbanist: "Urbanist", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$font-body: "Plus Jakarta Sans";
$font-work-sans: "Work Sans", sans-serif;

$fontLight: 300;
$fontRegular: 400;
$fontMid: 500;
$fontSemi: 600;
$fontBold: 700;
$transition: 0.3s linear;

// colors

$clrPrimary: #3c4043;
$clrSecondary: #ffe1e1;
$default-bg: #ffffff;
$chart-bg: #faebd7;


// invoice 
$invoicePrimary: #e3b9bc;
$invoicePrimaryDark: #b6736c;
$invoiceSecondary: #d4d4d4;
$invoiceTitle: #7f7f7f;
$invoiceBlack: #333333;
$invoiceHighlight : #e05f4d;